[submodule "sources_non_forked/flavored-markdown"]
	path = sources_non_forked/flavored-markdown
	url = https://github.com/jtratner/vim-flavored-markdown.git
[submodule "sources_non_forked/vinegar"]
	path = sources_non_forked/vinegar
	url = git://github.com/tpope/vim-vinegar.git
[submodule "sources_non_forked/vim-jade"]
	path = sources_non_forked/vim-jade
	url = https://github.com/digitaltoad/vim-jade
[submodule "sources_non_forked/mustache-handlebars"]
	path = sources_non_forked/mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule "sources_non_forked/gist"]
	path = sources_non_forked/gist
	url = https://github.com/mattn/gist-vim.git
[submodule "sources_non_forked/webapi"]
	path = sources_non_forked/webapi
	url = https://github.com/mattn/webapi-vim.git
